/* HEADER */
.gsf-header--bg__orcamento{
    background-image: url(../img/header/remow_gsf-header--bg__orcamento.jpg);
    background-position: center !important;
}

/* TÓPICOS */
.gsf-orcamento--parceiros{max-height: 1.7rem; height: 1.5rem}
.gsf-orcamento--parceiros img{max-height: 1.7rem}

.gsf-orcamento--content{
    background-color: #FFFFFF;
    padding: 0 var(--mdc-layout-grid-gutter-desktop, 24px) var(--mdc-layout-grid-gutter-desktop, 24px) var(--mdc-layout-grid-gutter-desktop, 24px);
    margin: 0 -24px 0 -24px;
}

.gsf-orcamento--image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 130%;
    z-index: -1;
}

/* DIALOG */
#mce-success-response .fa-check{color: darkgreen}
#mce-error-response .fa-times{color: darkred}

/* GESTÃO */
.gsf-orcamento--gestao{text-align: center}

/* HÍDRICO */
.gsf-orcamento--hidrico__image{
    background-image: url(../img/orcamento/remow_gsf-orcamento--hidrico.jpg);
    margin: 0 0 0 -6rem;
}

/* DRONE */
.gsf-orcamento--drone__image{
    background-image: url(../img/orcamento/remow_gsf-orcamento--drone.jpg);
    margin: 0 -6rem 0 0;
}

/* SOLAR */
.gsf-orcamento--solar__image{
    background-image: url(../img/orcamento/remow_gsf-orcamento--solar.jpg);
    margin: 0 0 0 -6rem;
}