:root{
    --mdc-typography-font-family: 'Source Sans Pro', sans-serif;
    --mdc-theme-primary: #44789D;
}

.mdc-typography{font-family: 'Source Sans Pro', sans-serif;}

.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline6,
.mdc-typography--button{
    font-family: 'Nixie One', cursive;
}

.mdc-typography--subtitle1,
.mdc-typography--subtitle2,	
.mdc-typography--body1,
.mdc-typography--body2,
.mdc-typography--caption,
.mdc-typography--overline{
    font-family: 'Source Sans Pro', sans-serif;
}